.footer {
    margin-top: 100px;
    background-color: rgb(5, 2, 19);
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-text {
    font-family: "Climate Crisis", "Calibri";
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

#contact-text {
    font-family: "Roboto", "Calibri";
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: inline;
    float: right;
    margin-right: 40px;
    text-decoration: none;
}

#date {
    font-family: "Roboto", "Calibri";
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 40px;
}

@media (max-width: 450px) {
    .footer {
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    
    #footer-text {
        font-size: 10px;
    }
    
    #contact-text {
        font-size: 12px;
        margin-right: 5px;
    }
    
    #date {
        font-size: 14px;
        margin-left: 5px;
    }
}