@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.text {
    margin-right: 200px;
    margin-left: 200px;
    font-family: "Catamaran", "calibri";
    font-weight: bold;
    font-size: 20px;
    color: rgb(230, 232, 255);
    text-align: center;
}

.title {
    text-align: center;
    font-family: "Caveat", "calibri";
    font-weight: bold;
    font-size: 36px;
    color: aliceblue;
}

.gran-title {
    text-align: center;
    font-family: "Caveat", "calibri";
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.formal {
    margin-right: 200px;
    margin-left: 200px;
    font-family: "Roboto", "calibri";
    font-weight: bold;
    font-size: 18px;
    color: rgb(230, 232, 255);
    text-align: center;
}

.sub {
    text-align: center;
    color: rgb(79, 60, 255);
    font-family: "Catamaran";
    font-weight: bold;
    font-size: 24px;
    margin: 15px;
}

.center-div {
    display: flex;
    justify-content: center;
}

#background {
    background-color: rgb(0, 0, 6);
}

.space {
    margin-bottom: 35px;
}

body {
    margin: 0;
}

li {
    margin-left: 30%;
    color: rgb(255, 255, 255);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-size: 20px;
    font-family: "Catamaran", "calibri";
    color: white; 
    font-weight: bold;
}

input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: rgb(55, 0, 255);
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    padding: 6px;
    font-family: "Catamaran";
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 450px) {

    
    .text {
        margin-right: 40px;
        margin-left: 40px;
        font-size: 14px;
    }
    
    .title {
        font-size: 26px;
    }
    
    .gran-title {
        font-size: 24px;
    }
    
    .sub {
        font-size: 18px;
    }

    .space {
        margin-bottom: 16px;
    }

    .formal {
        margin-right: 40px;
        margin-left: 40px;
        font-size: 14px;
    }

    body {
        margin: 0;
    }
    
    li {
        margin-left: 20%;
    }
    
    label {
        font-size: 14px;
    }
    
    input {
        width: 200px;
        height: 20px;
        font-size: 14px;
    }
    
    button {
        font-size: 16px;
    }
}
