.sub-listas {
    color: rgb(255, 255, 255);
    font-family: "Caveat", "calibri";
    font-weight: bold;
    font-size: 30px;
    margin-left: 30%;
}

#bebidas {
    margin-left: 40%;
}

#div-listas {
    background: rgb(72,0,240);
    background: radial-gradient(circle, rgba(72,0,240,1) 0%, rgb(14, 0, 48) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 35%;
    margin-right: 35%;
    border-color: aliceblue;
    border-style: solid;
    font-family: "Catamaran", "calibri";
    font-weight: bold;
    font-size: 20px;
    color: rgb(230, 232, 255);
}

#last-title {
    margin-bottom: 50px;
 }
 
 #space-top {
    margin-top: 100px;
}

#lotes {
    color: rgb(79, 60, 255);
}


@media (max-width: 450px) {
    .sub-listas {
        font-size: 20px;
        margin-left: 25%;
    }
    
    #bebidas {
        margin-left: 20%;
    }
    
    #div-listas {
        margin-bottom: 50px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 12px;
    }
    
    #last-title {
        margin-bottom: 50px;
     }
     
     #space-top {
        margin-top: 50px;
    }
}